# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [453]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [454]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path("./Resources/applicants_data.csv")
      
)

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [455]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [456]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_mod_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_mod_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [457]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_mod_df.dtypes[applicant_data_mod_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [458]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [459]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_mod_df[categorical_variables])
encoded_data

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [460]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [466]:
#Create a Numerical DF to concat 
numerical_df = applicant_data_mod_df.drop(columns= categorical_variables)

# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_numerical_df = pd.concat(
    [numerical_df, encoded_df], 
    axis=1
    )

# Review the Dataframe
encoded_numerical_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [467]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_numericals_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [468]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_numericals_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [469]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [470]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [471]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [472]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [473]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [474]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [475]:
# Create the Sequential model instance
nn = Sequential()

In [476]:
# Add the first hidden layer

nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [477]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [482]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [483]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_15"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_32 (Dense)             (None, 58)                6786
_________________________________________________________________
dense_33 (Dense)             (None, 29)                1711
_________________________________________________________________
dense_34 (Dense)             (None, 58)                1740
_________________________________________________________________
dense_35 (Dense)             (None, 1)                 59
=================================================================
Total params: 10,296
Trainable params: 10,296
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [484]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [485]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 912us/step - loss: 0.5698 - accuracy: 0.7209
Epoch 2/50
804/804 [==============================] - 1s 662us/step - loss: 0.5526 - accuracy: 0.7297
Epoch 3/50
804/804 [==============================] - 1s 674us/step - loss: 0.5497 - accuracy: 0.7308
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7305
Epoch 5/50
804/804 [==============================] - 1s 782us/step - loss: 0.5464 - accuracy: 0.7322
Epoch 6/50
804/804 [==============================] - 1s 826us/step - loss: 0.5457 - accuracy: 0.7345
Epoch 7/50
804/804 [==============================] - 1s 941us/step - loss: 0.5444 - accuracy: 0.7329
Epoch 8/50
804/804 [==============================] - 1s 873us/step - loss: 0.5437 - accuracy: 0.7334
Epoch 9/50
804/804 [==============================] - 1s 956us/step - loss: 0.5432 - accuracy: 0.7346
Epoch 10/50
804/804 [==============================] - 1s 990us/step - loss: 0.5420 - accuracy: 0.7353
Epoch 11/50
804/804 [==============================] - 1s 785us/step - loss: 0.5412 - accuracy: 0.7343
Epoch 12/50
804/804 [==============================] - 1s 927us/step - loss: 0.5411 - accuracy: 0.7352
Epoch 13/50
804/804 [==============================] - 1s 958us/step - loss: 0.5408 - accuracy: 0.7354
Epoch 14/50
804/804 [==============================] - 1s 735us/step - loss: 0.5402 - accuracy: 0.7362
Epoch 15/50
804/804 [==============================] - 1s 664us/step - loss: 0.5392 - accuracy: 0.7361
Epoch 16/50
804/804 [==============================] - 1s 724us/step - loss: 0.5396 - accuracy: 0.7370
Epoch 17/50
804/804 [==============================] - 1s 784us/step - loss: 0.5388 - accuracy: 0.7378
Epoch 18/50
804/804 [==============================] - 1s 651us/step - loss: 0.5393 - accuracy: 0.7381
Epoch 19/50
804/804 [==============================] - 1s 663us/step - loss: 0.5388 - accuracy: 0.7383
Epoch 20/50
804/804 [==============================] - 1s 876us/step - loss: 0.5380 - accuracy: 0.7385
Epoch 21/50
804/804 [==============================] - 1s 911us/step - loss: 0.5375 - accuracy: 0.7392
Epoch 22/50
804/804 [==============================] - 1s 698us/step - loss: 0.5379 - accuracy: 0.7387
Epoch 23/50
804/804 [==============================] - 1s 824us/step - loss: 0.5370 - accuracy: 0.7376
Epoch 24/50
804/804 [==============================] - 1s 749us/step - loss: 0.5370 - accuracy: 0.7385
Epoch 25/50
804/804 [==============================] - 1s 659us/step - loss: 0.5365 - accuracy: 0.7374
Epoch 26/50
804/804 [==============================] - 1s 880us/step - loss: 0.5364 - accuracy: 0.7393
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7382
Epoch 28/50
804/804 [==============================] - 1s 928us/step - loss: 0.5359 - accuracy: 0.7386
Epoch 29/50
804/804 [==============================] - 1s 886us/step - loss: 0.5356 - accuracy: 0.7388
Epoch 30/50
804/804 [==============================] - 1s 829us/step - loss: 0.5359 - accuracy: 0.7383
Epoch 31/50
804/804 [==============================] - 1s 864us/step - loss: 0.5354 - accuracy: 0.7394
Epoch 32/50
804/804 [==============================] - 1s 791us/step - loss: 0.5356 - accuracy: 0.7390
Epoch 33/50
804/804 [==============================] - 1s 652us/step - loss: 0.5351 - accuracy: 0.7391
Epoch 34/50
804/804 [==============================] - 1s 949us/step - loss: 0.5348 - accuracy: 0.7388
Epoch 35/50
804/804 [==============================] - 1s 994us/step - loss: 0.5350 - accuracy: 0.7395
Epoch 36/50
804/804 [==============================] - 1s 708us/step - loss: 0.5344 - accuracy: 0.7399
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7407
Epoch 38/50
804/804 [==============================] - 1s 757us/step - loss: 0.5339 - accuracy: 0.7399
Epoch 39/50
804/804 [==============================] - 1s 703us/step - loss: 0.5335 - accuracy: 0.7404
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7395
Epoch 41/50
804/804 [==============================] - 1s 872us/step - loss: 0.5336 - accuracy: 0.7388
Epoch 42/50
804/804 [==============================] - 1s 994us/step - loss: 0.5334 - accuracy: 0.7399
Epoch 43/50
804/804 [==============================] - 1s 794us/step - loss: 0.5325 - accuracy: 0.7406
Epoch 44/50
804/804 [==============================] - 1s 664us/step - loss: 0.5328 - accuracy: 0.7399
Epoch 45/50
804/804 [==============================] - 1s 830us/step - loss: 0.5326 - accuracy: 0.7391
Epoch 46/50
804/804 [==============================] - 1s 756us/step - loss: 0.5322 - accuracy: 0.7418
Epoch 47/50
804/804 [==============================] - 1s 673us/step - loss: 0.5322 - accuracy: 0.7405
Epoch 48/50
804/804 [==============================] - 1s 905us/step - loss: 0.5322 - accuracy: 0.7413
Epoch 49/50
804/804 [==============================] - 1s 797us/step - loss: 0.5317 - accuracy: 0.7403
Epoch 50/50
804/804 [==============================] - 1s 664us/step - loss: 0.5319 - accuracy: 0.7405

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [486]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5517 - accuracy: 0.7300
Loss: 0.551679253578186, Accuracy: 0.7300291657447815

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [487]:
# Set the model's file path
file_path = Path("../Resources/employee_attrition.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [513]:
#Check the original dataframe to drop outliers

applicant_data_mod_df.value_counts()

APPLICATION_TYPE  AFFILIATION       CLASSIFICATION  USE_CASE      ORGANIZATION  STATUS  INCOME_AMT     SPECIAL_CONSIDERATIONS  ASK_AMT   IS_SUCCESSFUL
T3                Independent       C1000           Preservation  Trust         1       0              N                       5000      1                3507
                  CompanySponsored  C1000           Preservation  Trust         1       0              N                       5000      0                1379
                                    C1200           Preservation  Association   1       0              N                       5000      0                1122
                  Independent       C1000           Preservation  Trust         1       0              N                       5000      0                1102
                                    C1200           Preservation  Trust         1       0              N                       5000      1                1052
                                                                                                                                                          ...
                                    C1000           Preservation  Trust         1       100000-499999  N                       140853    1                   1
                                                                                                                               140864    1                   1
                                                                                                                               140938    1                   1
                                                                                                                               140950    1                   1
T9                National          C1000           ProductDev    Co-operative  1       10M-50M        N                       42312554  1                   1
Length: 9622, dtype: int64

In [495]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [496]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [509]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 1) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [503]:
# Create the Sequential model instance
nn_A1 = nn = Sequential()

In [504]:
# First hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))


# Output layer
nn.add(Dense(units=1, activation="linear"))


# Check the structure of the model
nn.summary()

Model: "sequential_18"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_40 (Dense)             (None, 58)                6786
_________________________________________________________________
dense_41 (Dense)             (None, 1)                 59
=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [505]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [506]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 716us/step - loss: 1.7400 - accuracy: 0.6694
Epoch 2/50
804/804 [==============================] - 1s 687us/step - loss: 1.3606 - accuracy: 0.6927
Epoch 3/50
804/804 [==============================] - 1s 991us/step - loss: 1.6652 - accuracy: 0.6763
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 2.1612 - accuracy: 0.6596
Epoch 5/50
804/804 [==============================] - 1s 887us/step - loss: 1.7455 - accuracy: 0.6778
Epoch 6/50
804/804 [==============================] - 1s 649us/step - loss: 1.6359 - accuracy: 0.6891
Epoch 7/50
804/804 [==============================] - 1s 751us/step - loss: 1.7373 - accuracy: 0.6765
Epoch 8/50
804/804 [==============================] - 1s 862us/step - loss: 1.8698 - accuracy: 0.6694
Epoch 9/50
804/804 [==============================] - 1s 736us/step - loss: 1.8889 - accuracy: 0.6688
Epoch 10/50
804/804 [==============================] - 1s 774us/step - loss: 1.7930 - accuracy: 0.6888
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 1.7171 - accuracy: 0.6982
Epoch 12/50
804/804 [==============================] - 1s 935us/step - loss: 1.6007 - accuracy: 0.6915
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 1.7213 - accuracy: 0.6793
Epoch 14/50
804/804 [==============================] - 1s 973us/step - loss: 1.5121 - accuracy: 0.6913
Epoch 15/50
804/804 [==============================] - 1s 703us/step - loss: 1.5216 - accuracy: 0.7044
Epoch 16/50
804/804 [==============================] - 1s 788us/step - loss: 1.1546 - accuracy: 0.7135
Epoch 17/50
804/804 [==============================] - 1s 843us/step - loss: 1.2155 - accuracy: 0.7114
Epoch 18/50
804/804 [==============================] - 1s 896us/step - loss: 1.1531 - accuracy: 0.7082
Epoch 19/50
804/804 [==============================] - 1s 906us/step - loss: 1.1002 - accuracy: 0.7066
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 1.2061 - accuracy: 0.6689
Epoch 21/50
804/804 [==============================] - 1s 960us/step - loss: 1.4666 - accuracy: 0.7010
Epoch 22/50
804/804 [==============================] - 1s 990us/step - loss: 1.1587 - accuracy: 0.7104
Epoch 23/50
804/804 [==============================] - 1s 915us/step - loss: 1.0173 - accuracy: 0.7008
Epoch 24/50
804/804 [==============================] - 1s 983us/step - loss: 1.0731 - accuracy: 0.7108
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9382 - accuracy: 0.7170
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8863 - accuracy: 0.7181
Epoch 27/50
804/804 [==============================] - 1s 812us/step - loss: 0.8918 - accuracy: 0.7189
Epoch 28/50
804/804 [==============================] - 1s 680us/step - loss: 0.9347 - accuracy: 0.7153
Epoch 29/50
804/804 [==============================] - 0s 564us/step - loss: 0.9438 - accuracy: 0.7188
Epoch 30/50
804/804 [==============================] - 1s 648us/step - loss: 0.9507 - accuracy: 0.7110
Epoch 31/50
804/804 [==============================] - 1s 651us/step - loss: 0.8592 - accuracy: 0.7211
Epoch 32/50
804/804 [==============================] - 0s 571us/step - loss: 0.8545 - accuracy: 0.7192
Epoch 33/50
804/804 [==============================] - 1s 667us/step - loss: 0.8538 - accuracy: 0.7177
Epoch 34/50
804/804 [==============================] - 1s 685us/step - loss: 0.8334 - accuracy: 0.7229
Epoch 35/50
804/804 [==============================] - 1s 688us/step - loss: 0.8332 - accuracy: 0.7203
Epoch 36/50
804/804 [==============================] - 1s 718us/step - loss: 0.8158 - accuracy: 0.7230
Epoch 37/50
804/804 [==============================] - 0s 617us/step - loss: 0.8059 - accuracy: 0.7248
Epoch 38/50
804/804 [==============================] - 1s 671us/step - loss: 0.7981 - accuracy: 0.7248
Epoch 39/50
804/804 [==============================] - 0s 602us/step - loss: 0.7958 - accuracy: 0.7219
Epoch 40/50
804/804 [==============================] - 0s 558us/step - loss: 0.8821 - accuracy: 0.7113
Epoch 41/50
804/804 [==============================] - 1s 634us/step - loss: 0.9661 - accuracy: 0.7118
Epoch 42/50
804/804 [==============================] - 1s 643us/step - loss: 0.9280 - accuracy: 0.7179
Epoch 43/50
804/804 [==============================] - 0s 586us/step - loss: 0.9153 - accuracy: 0.7185
Epoch 44/50
804/804 [==============================] - 0s 568us/step - loss: 0.9478 - accuracy: 0.7161
Epoch 45/50
804/804 [==============================] - 1s 686us/step - loss: 0.8280 - accuracy: 0.7165
Epoch 46/50
804/804 [==============================] - 1s 886us/step - loss: 0.8109 - accuracy: 0.7174
Epoch 47/50
804/804 [==============================] - 1s 675us/step - loss: 0.7901 - accuracy: 0.7218
Epoch 48/50
804/804 [==============================] - 1s 797us/step - loss: 0.7659 - accuracy: 0.7235
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8011 - accuracy: 0.7199
Epoch 50/50
804/804 [==============================] - 0s 557us/step - loss: 0.8547 - accuracy: 0.7232

#### Alternative Model 2

In [507]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [508]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = # YOUR CODE HERE

SyntaxError: invalid syntax (<ipython-input-508-5d1dae93612d>, line 2)

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

In [ ]:
# Create the Sequential model instance
nn_A2 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE

# Output layer
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the model
# YOUR CODE HERE

In [ ]:
# Fit the model
# YOUR CODE HERE

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE