# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1263]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [1264]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path("./Resources/applicants_data.csv")
      
)

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [1265]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [1266]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_mod_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_mod_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [1267]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_mod_df.dtypes[applicant_data_mod_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [1268]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [1269]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_mod_df[categorical_variables])
encoded_data

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [1270]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [1271]:
#Create a Numerical DF to concat 
numerical_df = applicant_data_mod_df.drop(columns= categorical_variables)

# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_numerical_df = pd.concat(
    [numerical_df, encoded_df], 
    axis=1
    )

# Review the Dataframe
encoded_numerical_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [1272]:
# Define the target set y using the IS_SUCCESSFUL column
y_org = encoded_numerical_df["IS_SUCCESSFUL"]

# Display a sample of y
y_org[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [1273]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X_org = encoded_numerical_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X_org

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [1274]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X_org, y_org, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [1275]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [1276]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [1277]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [1278]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [1279]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [1280]:
# Create the Sequential model instance
nn_org = Sequential()

In [1281]:
# Add the first hidden layer

nn_org.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [1282]:
# Add the second hidden layer
nn_org.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [1283]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn_org.add(Dense(units=1, activation="sigmoid"))

In [1284]:
# Display the Sequential model summary
nn_org.summary()

Model: "sequential_68"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_188 (Dense)            (None, 58)                6786
_________________________________________________________________
dense_189 (Dense)            (None, 29)                1711
_________________________________________________________________
dense_190 (Dense)            (None, 1)                 30
=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [1285]:
# Compile the Sequential model
nn_org.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [1286]:
# Fit the model using 50 epochs and the training data
fit_model = nn_org.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 519us/step - loss: 0.5746 - accuracy: 0.7176
Epoch 2/50
804/804 [==============================] - 0s 513us/step - loss: 0.5511 - accuracy: 0.7303
Epoch 3/50
804/804 [==============================] - 0s 512us/step - loss: 0.5488 - accuracy: 0.7312
Epoch 4/50
804/804 [==============================] - 0s 511us/step - loss: 0.5478 - accuracy: 0.7333
Epoch 5/50
804/804 [==============================] - 0s 511us/step - loss: 0.5458 - accuracy: 0.7330
Epoch 6/50
804/804 [==============================] - 0s 512us/step - loss: 0.5443 - accuracy: 0.7343
Epoch 7/50
804/804 [==============================] - 0s 513us/step - loss: 0.5442 - accuracy: 0.7339
Epoch 8/50
804/804 [==============================] - 0s 512us/step - loss: 0.5427 - accuracy: 0.7345
Epoch 9/50
804/804 [==============================] - 0s 511us/step - loss: 0.5424 - accuracy: 0.7344
Epoch 10/50
804/804 [==============================] - 0s 511us/step - loss: 0.5413 - accuracy: 0.7353
Epoch 11/50
804/804 [==============================] - 0s 509us/step - loss: 0.5410 - accuracy: 0.7358
Epoch 12/50
804/804 [==============================] - 0s 513us/step - loss: 0.5400 - accuracy: 0.7366
Epoch 13/50
804/804 [==============================] - 0s 554us/step - loss: 0.5400 - accuracy: 0.7362
Epoch 14/50
804/804 [==============================] - 0s 517us/step - loss: 0.5401 - accuracy: 0.7363
Epoch 15/50
804/804 [==============================] - 0s 545us/step - loss: 0.5386 - accuracy: 0.7369
Epoch 16/50
804/804 [==============================] - 0s 514us/step - loss: 0.5389 - accuracy: 0.7366
Epoch 17/50
804/804 [==============================] - 0s 542us/step - loss: 0.5384 - accuracy: 0.7378
Epoch 18/50
804/804 [==============================] - 0s 509us/step - loss: 0.5381 - accuracy: 0.7368
Epoch 19/50
804/804 [==============================] - 0s 511us/step - loss: 0.5377 - accuracy: 0.7376
Epoch 20/50
804/804 [==============================] - 0s 510us/step - loss: 0.5377 - accuracy: 0.7382
Epoch 21/50
804/804 [==============================] - 0s 508us/step - loss: 0.5373 - accuracy: 0.7376
Epoch 22/50
804/804 [==============================] - 0s 511us/step - loss: 0.5373 - accuracy: 0.7385
Epoch 23/50
804/804 [==============================] - 0s 512us/step - loss: 0.5363 - accuracy: 0.7390
Epoch 24/50
804/804 [==============================] - 0s 513us/step - loss: 0.5369 - accuracy: 0.7392
Epoch 25/50
804/804 [==============================] - 0s 529us/step - loss: 0.5363 - accuracy: 0.7389
Epoch 26/50
804/804 [==============================] - 0s 526us/step - loss: 0.5362 - accuracy: 0.7385
Epoch 27/50
804/804 [==============================] - 0s 523us/step - loss: 0.5355 - accuracy: 0.7387
Epoch 28/50
804/804 [==============================] - 0s 518us/step - loss: 0.5356 - accuracy: 0.7379
Epoch 29/50
804/804 [==============================] - 0s 562us/step - loss: 0.5349 - accuracy: 0.7402
Epoch 30/50
804/804 [==============================] - 0s 576us/step - loss: 0.5355 - accuracy: 0.7395
Epoch 31/50
804/804 [==============================] - 1s 679us/step - loss: 0.5348 - accuracy: 0.7402
Epoch 32/50
804/804 [==============================] - 0s 584us/step - loss: 0.5343 - accuracy: 0.7405
Epoch 33/50
804/804 [==============================] - 0s 597us/step - loss: 0.5350 - accuracy: 0.7387
Epoch 34/50
804/804 [==============================] - 1s 623us/step - loss: 0.5342 - accuracy: 0.7399
Epoch 35/50
804/804 [==============================] - 0s 598us/step - loss: 0.5342 - accuracy: 0.7402
Epoch 36/50
804/804 [==============================] - 0s 579us/step - loss: 0.5340 - accuracy: 0.7392
Epoch 37/50
804/804 [==============================] - 0s 585us/step - loss: 0.5337 - accuracy: 0.7395
Epoch 38/50
804/804 [==============================] - 0s 570us/step - loss: 0.5338 - accuracy: 0.7411
Epoch 39/50
804/804 [==============================] - 0s 567us/step - loss: 0.5337 - accuracy: 0.7405
Epoch 40/50
804/804 [==============================] - 0s 565us/step - loss: 0.5332 - accuracy: 0.7407
Epoch 41/50
804/804 [==============================] - 0s 564us/step - loss: 0.5331 - accuracy: 0.7398
Epoch 42/50
804/804 [==============================] - 0s 563us/step - loss: 0.5335 - accuracy: 0.7400
Epoch 43/50
804/804 [==============================] - 0s 610us/step - loss: 0.5331 - accuracy: 0.7412
Epoch 44/50
804/804 [==============================] - 0s 601us/step - loss: 0.5332 - accuracy: 0.7412
Epoch 45/50
804/804 [==============================] - 0s 595us/step - loss: 0.5324 - accuracy: 0.7412
Epoch 46/50
804/804 [==============================] - 0s 584us/step - loss: 0.5327 - accuracy: 0.7402
Epoch 47/50
804/804 [==============================] - 0s 584us/step - loss: 0.5330 - accuracy: 0.7405
Epoch 48/50
804/804 [==============================] - 0s 575us/step - loss: 0.5327 - accuracy: 0.7410
Epoch 49/50
804/804 [==============================] - 0s 599us/step - loss: 0.5325 - accuracy: 0.7407
Epoch 50/50
804/804 [==============================] - 0s 587us/step - loss: 0.5325 - accuracy: 0.7415

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [1287]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_org.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5565 - accuracy: 0.7290
Loss: 0.5565124750137329, Accuracy: 0.7289795875549316

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [1288]:
# Set the model's file path
file_path = Path("../Resources/employee_attrition.h5")

# Export your model to a HDF5 file
nn_org.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [1289]:
#Check the original dataframe to drop outliers

applicant_data_mod_df.value_counts()

APPLICATION_TYPE  AFFILIATION       CLASSIFICATION  USE_CASE      ORGANIZATION  STATUS  INCOME_AMT     SPECIAL_CONSIDERATIONS  ASK_AMT   IS_SUCCESSFUL
T3                Independent       C1000           Preservation  Trust         1       0              N                       5000      1                3507
                  CompanySponsored  C1000           Preservation  Trust         1       0              N                       5000      0                1379
                                    C1200           Preservation  Association   1       0              N                       5000      0                1122
                  Independent       C1000           Preservation  Trust         1       0              N                       5000      0                1102
                                    C1200           Preservation  Trust         1       0              N                       5000      1                1052
                                                                                                                                                          ...
                                    C1000           Preservation  Trust         1       100000-499999  N                       140853    1                   1
                                                                                                                               140864    1                   1
                                                                                                                               140938    1                   1
                                                                                                                               140950    1                   1
T9                National          C1000           ProductDev    Co-operative  1       10M-50M        N                       42312554  1                   1
Length: 9622, dtype: int64

In [1290]:
#Additional value checks
applicant_data_mod_df['ASK_AMT'].describe()

count    3.429900e+04
mean     2.769199e+06
std      8.713045e+07
min      5.000000e+03
25%      5.000000e+03
50%      5.000000e+03
75%      7.742000e+03
max      8.597806e+09
Name: ASK_AMT, dtype: float64

In [1291]:
# Drop Income below $100,000
applicant_alt1_df = applicant_data_mod_df[applicant_data_mod_df['ASK_AMT'] < 10000]
applicant_alt1_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
5,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
9,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
...,...,...,...,...,...,...,...,...,...,...
34293,T3,CompanySponsored,C1000,Preservation,Association,1,0,N,5000,1
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1

In [1292]:
# Create a list of categorical variables 
categorical_variables_alt1 = list(applicant_alt1_df.dtypes[applicant_alt1_df.dtypes == "object"].index)
# Display the categorical variables list
categorical_variables_alt1

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [1293]:
# Use OneHotEncoder module to encode the dataset
#Imports
from sklearn.preprocessing import OneHotEncoder
#Create a OneHot Encoder Instance
enc = OneHotEncoder(sparse=False)
# Encode categorcal variables using OneHotEncoder
encoded_alt1_data = enc.fit_transform(applicant_alt1_df[categorical_variables_alt1])
enc.categories_

[array(['T10', 'T12', 'T13', 'T19', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7',
        'T8', 'T9'], dtype=object),
 array(['CompanySponsored', 'Family/Parent', 'Independent', 'National',
        'Other', 'Regional'], dtype=object),
 array(['C0', 'C1000', 'C1200', 'C1230', 'C1234', 'C1235', 'C1236',
        'C1237', 'C1238', 'C1240', 'C1246', 'C1248', 'C1250', 'C1256',
        'C1257', 'C1260', 'C1267', 'C1270', 'C1278', 'C1280', 'C1283',
        'C1300', 'C1370', 'C1400', 'C1500', 'C1570', 'C1580', 'C1600',
        'C1700', 'C1720', 'C1728', 'C1732', 'C1800', 'C2000', 'C2100',
        'C2150', 'C2190', 'C2300', 'C2380', 'C2400', 'C2500', 'C2570',
        'C2600', 'C2700', 'C2710', 'C2800', 'C3000', 'C3200', 'C3700',
        'C4000', 'C4100', 'C4120', 'C4200', 'C4500', 'C5000', 'C6000',
        'C6100', 'C7000', 'C7100', 'C7120', 'C7200', 'C7210', 'C8000',
        'C8200'], dtype=object),
 array(['CommunityServ', 'Heathcare', 'Other', 'Preservation',
        'ProductDev'], dtype=object),
 array(['Association', 'Co-operative', 'Corporation', 'Trust'],
       dtype=object),
 array(['0', '1-9999', '10000-24999', '100000-499999', '10M-50M', '1M-5M',
        '25000-99999', '50M+', '5M-10M'], dtype=object),
 array(['N', 'Y'], dtype=object)]

In [1294]:
# Create a DataFrame with the encoded variables
# The column names should match those of the encoded variables
encoded_alt1_df = pd.DataFrame(
    encoded_alt1_data,
    columns= enc.get_feature_names(categorical_variables_alt1)    
)

#Reset indices
encoded_alt1_df.reset_index(drop=True, inplace=True)

#Review dataframe
encoded_alt1_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25941,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25942,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25943,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25944,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25945,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [1295]:
#Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_alt1_df = applicant_alt1_df.drop(columns=categorical_variables_alt1)

#Reset dataframe indices
numerical_variables_alt1_df.reset_index(drop=True, inplace=True)

# Review the DataFrame
numerical_variables_alt1_df

       STATUS  ASK_AMT  IS_SUCCESSFUL
0           1     5000              1
1           1     5000              0
2           1     6692              1
3           1     5000              1
4           1     5000              0
...       ...      ...            ...
25941       1     5000              1
25942       1     5000              0
25943       1     5000              0
25944       1     5000              0
25945       1     5000              1

[25946 rows x 3 columns]

In [1296]:
# Using the Pandas concat function, combine the DataFrames the contain the encoded categorical data and the numerical data
alt1_combined_df = pd.concat(
    [numerical_variables_alt1_df,
    encoded_alt1_df],
    axis=1
)

#Review the dataframe
alt1_combined_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,6692,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25941,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25942,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25943,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25944,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25945,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [1297]:
# Define the target set y using the IS_SUCCESFUL column
y_alt1 = alt1_combined_df["IS_SUCCESSFUL"]

# Display a sample of y
y_alt1[:5]

0    1
1    0
2    1
3    1
4    0
Name: IS_SUCCESSFUL, dtype: int64

In [1298]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X_alt1 = alt1_combined_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X_alt1

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,6692,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,5000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25941,1,5000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25942,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25943,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25944,1,5000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25945,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [1299]:
# Split the data into training and testing datasets
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X_alt1, y_alt1, random_state=1)

In [1300]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [1301]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

104

In [1302]:
# Define the number of neurons in the output layer
number_output_neurons_Alt1 = 1

In [1303]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_Alt1 = (number_input_features + 1)  // 2


# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_Alt1

52

In [1304]:
# Create the Sequential model instance
nn_Alt1 = Sequential()

In [1305]:
# First hidden layer
nn_Alt1.add(Dense(units=hidden_nodes_layer1_Alt1, input_dim=number_input_features, activation="relu"))

# Output layer
nn_Alt1.add(Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn_Alt1.summary()

Model: "sequential_69"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_191 (Dense)            (None, 52)                5460
_________________________________________________________________
dense_192 (Dense)            (None, 1)                 53
=================================================================
Total params: 5,513
Trainable params: 5,513
Non-trainable params: 0
_________________________________________________________________

In [1306]:
# Compile the Sequential model
nn_Alt1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [1307]:
# Fit the model using 50 epochs and the training data
fit_model_Alt1 = nn_Alt1.fit(X_train_scaled, y_train, epochs=75)

Epoch 1/75
609/609 [==============================] - 1s 613us/step - loss: 0.5677 - accuracy: 0.7343
Epoch 2/75
609/609 [==============================] - 0s 569us/step - loss: 0.5364 - accuracy: 0.7483
Epoch 3/75
609/609 [==============================] - 0s 564us/step - loss: 0.5294 - accuracy: 0.7508
Epoch 4/75
609/609 [==============================] - 0s 576us/step - loss: 0.5283 - accuracy: 0.7509
Epoch 5/75
609/609 [==============================] - 0s 563us/step - loss: 0.5273 - accuracy: 0.7516
Epoch 6/75
609/609 [==============================] - 0s 561us/step - loss: 0.5255 - accuracy: 0.7520
Epoch 7/75
609/609 [==============================] - 0s 572us/step - loss: 0.5249 - accuracy: 0.7513
Epoch 8/75
609/609 [==============================] - 0s 579us/step - loss: 0.5246 - accuracy: 0.7508
Epoch 9/75
609/609 [==============================] - 0s 558us/step - loss: 0.5236 - accuracy: 0.7532
Epoch 10/75
609/609 [==============================] - 0s 567us/step - loss: 0.5229 - accuracy: 0.7530
Epoch 11/75
609/609 [==============================] - 0s 559us/step - loss: 0.5228 - accuracy: 0.7522
Epoch 12/75
609/609 [==============================] - 0s 559us/step - loss: 0.5221 - accuracy: 0.7541
Epoch 13/75
609/609 [==============================] - 0s 559us/step - loss: 0.5227 - accuracy: 0.7548
Epoch 14/75
609/609 [==============================] - 0s 564us/step - loss: 0.5222 - accuracy: 0.7518
Epoch 15/75
609/609 [==============================] - 0s 589us/step - loss: 0.5221 - accuracy: 0.7530
Epoch 16/75
609/609 [==============================] - 0s 574us/step - loss: 0.5215 - accuracy: 0.7547
Epoch 17/75
609/609 [==============================] - 0s 563us/step - loss: 0.5214 - accuracy: 0.7540
Epoch 18/75
609/609 [==============================] - 0s 673us/step - loss: 0.5208 - accuracy: 0.7536
Epoch 19/75
609/609 [==============================] - 0s 600us/step - loss: 0.5204 - accuracy: 0.7547
Epoch 20/75
609/609 [==============================] - 0s 558us/step - loss: 0.5201 - accuracy: 0.7549
Epoch 21/75
609/609 [==============================] - 0s 561us/step - loss: 0.5206 - accuracy: 0.7546
Epoch 22/75
609/609 [==============================] - 0s 559us/step - loss: 0.5204 - accuracy: 0.7522
Epoch 23/75
609/609 [==============================] - 0s 559us/step - loss: 0.5204 - accuracy: 0.7538
Epoch 24/75
609/609 [==============================] - 0s 559us/step - loss: 0.5204 - accuracy: 0.7540
Epoch 25/75
609/609 [==============================] - 0s 556us/step - loss: 0.5192 - accuracy: 0.7549
Epoch 26/75
609/609 [==============================] - 0s 554us/step - loss: 0.5197 - accuracy: 0.7545
Epoch 27/75
609/609 [==============================] - 0s 558us/step - loss: 0.5197 - accuracy: 0.7542
Epoch 28/75
609/609 [==============================] - 0s 558us/step - loss: 0.5193 - accuracy: 0.7543
Epoch 29/75
609/609 [==============================] - 0s 558us/step - loss: 0.5189 - accuracy: 0.7545
Epoch 30/75
609/609 [==============================] - 0s 559us/step - loss: 0.5191 - accuracy: 0.7550
Epoch 31/75
609/609 [==============================] - 0s 561us/step - loss: 0.5193 - accuracy: 0.7546
Epoch 32/75
609/609 [==============================] - 0s 556us/step - loss: 0.5186 - accuracy: 0.7538
Epoch 33/75
609/609 [==============================] - 0s 558us/step - loss: 0.5185 - accuracy: 0.7544
Epoch 34/75
609/609 [==============================] - 0s 564us/step - loss: 0.5186 - accuracy: 0.7547
Epoch 35/75
609/609 [==============================] - 0s 558us/step - loss: 0.5185 - accuracy: 0.7543
Epoch 36/75
609/609 [==============================] - 0s 562us/step - loss: 0.5187 - accuracy: 0.7544
Epoch 37/75
609/609 [==============================] - 0s 556us/step - loss: 0.5179 - accuracy: 0.7548
Epoch 38/75
609/609 [==============================] - 0s 564us/step - loss: 0.5186 - accuracy: 0.7548
Epoch 39/75
609/609 [==============================] - 0s 594us/step - loss: 0.5183 - accuracy: 0.7543
Epoch 40/75
609/609 [==============================] - 0s 651us/step - loss: 0.5177 - accuracy: 0.7548
Epoch 41/75
609/609 [==============================] - 0s 618us/step - loss: 0.5182 - accuracy: 0.7548
Epoch 42/75
609/609 [==============================] - 0s 690us/step - loss: 0.5179 - accuracy: 0.7548
Epoch 43/75
609/609 [==============================] - 0s 582us/step - loss: 0.5175 - accuracy: 0.7540
Epoch 44/75
609/609 [==============================] - 0s 559us/step - loss: 0.5173 - accuracy: 0.7551
Epoch 45/75
609/609 [==============================] - 0s 558us/step - loss: 0.5178 - accuracy: 0.7546
Epoch 46/75
609/609 [==============================] - 0s 564us/step - loss: 0.5173 - accuracy: 0.7549
Epoch 47/75
609/609 [==============================] - 0s 559us/step - loss: 0.5175 - accuracy: 0.7558
Epoch 48/75
609/609 [==============================] - 0s 559us/step - loss: 0.5174 - accuracy: 0.7548
Epoch 49/75
609/609 [==============================] - 0s 556us/step - loss: 0.5173 - accuracy: 0.7550
Epoch 50/75
609/609 [==============================] - 0s 581us/step - loss: 0.5174 - accuracy: 0.7563
Epoch 51/75
609/609 [==============================] - 0s 663us/step - loss: 0.5175 - accuracy: 0.7549
Epoch 52/75
609/609 [==============================] - 0s 586us/step - loss: 0.5169 - accuracy: 0.7560
Epoch 53/75
609/609 [==============================] - 0s 597us/step - loss: 0.5171 - accuracy: 0.7551
Epoch 54/75
609/609 [==============================] - 0s 561us/step - loss: 0.5171 - accuracy: 0.7547
Epoch 55/75
609/609 [==============================] - 0s 556us/step - loss: 0.5171 - accuracy: 0.7555
Epoch 56/75
609/609 [==============================] - 0s 559us/step - loss: 0.5171 - accuracy: 0.7544
Epoch 57/75
609/609 [==============================] - 0s 582us/step - loss: 0.5166 - accuracy: 0.7559
Epoch 58/75
609/609 [==============================] - 0s 558us/step - loss: 0.5166 - accuracy: 0.7561
Epoch 59/75
609/609 [==============================] - 0s 569us/step - loss: 0.5165 - accuracy: 0.7568
Epoch 60/75
609/609 [==============================] - 0s 558us/step - loss: 0.5165 - accuracy: 0.7554
Epoch 61/75
609/609 [==============================] - 0s 650us/step - loss: 0.5169 - accuracy: 0.7551
Epoch 62/75
609/609 [==============================] - 0s 579us/step - loss: 0.5165 - accuracy: 0.7559
Epoch 63/75
609/609 [==============================] - 0s 559us/step - loss: 0.5164 - accuracy: 0.7555
Epoch 64/75
609/609 [==============================] - 0s 587us/step - loss: 0.5163 - accuracy: 0.7556
Epoch 65/75
609/609 [==============================] - 0s 554us/step - loss: 0.5160 - accuracy: 0.7554
Epoch 66/75
609/609 [==============================] - 0s 558us/step - loss: 0.5164 - accuracy: 0.7561
Epoch 67/75
609/609 [==============================] - 0s 558us/step - loss: 0.5159 - accuracy: 0.7568
Epoch 68/75
609/609 [==============================] - 0s 589us/step - loss: 0.5165 - accuracy: 0.7566
Epoch 69/75
609/609 [==============================] - 0s 558us/step - loss: 0.5160 - accuracy: 0.7553
Epoch 70/75
609/609 [==============================] - 0s 562us/step - loss: 0.5157 - accuracy: 0.7561
Epoch 71/75
609/609 [==============================] - 0s 556us/step - loss: 0.5158 - accuracy: 0.7563
Epoch 72/75
609/609 [==============================] - 0s 595us/step - loss: 0.5157 - accuracy: 0.7562
Epoch 73/75
609/609 [==============================] - 0s 605us/step - loss: 0.5156 - accuracy: 0.7550
Epoch 74/75
609/609 [==============================] - 0s 558us/step - loss: 0.5160 - accuracy: 0.7561
Epoch 75/75
609/609 [==============================] - 0s 564us/step - loss: 0.5159 - accuracy: 0.7565

In [1308]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_Alt1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

203/203 - 0s - loss: 0.5508 - accuracy: 0.7387
Loss: 0.5507820844650269, Accuracy: 0.7387081980705261

Results of Alternative Model-1 : The reduction of income (<100,000>) based outliers in the model alone did not improve the model accuracy.

#### Alternative Model 2

In [1309]:
#Drop additional data from Alt-1 dataset
alt2_combined_df = alt1_combined_df[applicant_data_mod_df['ASK_AMT'] < 7500]
alt2_combined_df

<ipython-input-1309-bb51f84c67d3>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  alt2_combined_df = alt1_combined_df[applicant_data_mod_df['ASK_AMT'] < 7500]

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,6692,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25939,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25941,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25942,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25944,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25945,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [1310]:
# Define the target set y using the IS_SUCCESFUL column
y_alt2 = alt2_combined_df["IS_SUCCESSFUL"]

# Display a sample of y
y_alt2[:5]

0    1
2    1
3    1
5    1
9    1
Name: IS_SUCCESSFUL, dtype: int64

In [1311]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X_alt2 = alt2_combined_df .drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X_alt2

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,6692,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,5000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,1,5000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,1,5000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25939,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25941,1,5000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25942,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25944,1,5000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25945,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [1312]:
# Split the data into training and testing datasets
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X_alt2, y_alt2, random_state=1)

In [1313]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [1314]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

104

In [1315]:
# Define the the number of inputs (features) to the model
number_input_features_alt2 = len(X_train.iloc[0])

# Review the number of features
number_input_features_alt2

104

In [1316]:
# Define the number of neurons in the output layer
number_output_neurons_alt2 = 1

In [1317]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_alt2 = (number_input_features + 2) // 2


# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_alt2

53

In [1318]:
#Add a second hidden layer
hidden_nodes_layer2_alt2 = (hidden_nodes_layer1_alt2 + 1) 
hidden_nodes_layer2_alt2

54

In [1319]:
# Create the Sequential model instance
nn_alt2 = Sequential()

In [1320]:
# First hidden layer
nn_alt2.add(Dense(units=hidden_nodes_layer1_alt2, input_dim=number_input_features, activation="relu"))

#Second hidden layer
nn_alt2.add(Dense(units=hidden_nodes_layer2_alt2, activation="relu"))


# Output layer
nn_alt2.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_alt2.summary()

Model: "sequential_70"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_193 (Dense)            (None, 53)                5565
_________________________________________________________________
dense_194 (Dense)            (None, 54)                2916
_________________________________________________________________
dense_195 (Dense)            (None, 1)                 55
=================================================================
Total params: 8,536
Trainable params: 8,536
Non-trainable params: 0
_________________________________________________________________

In [1321]:
# Compile the model
nn_alt2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [1322]:
# Fit the model
fit_model = nn_alt2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
460/460 [==============================] - 1s 629us/step - loss: 0.5549 - accuracy: 0.7383
Epoch 2/50
460/460 [==============================] - 0s 641us/step - loss: 0.5309 - accuracy: 0.7512
Epoch 3/50
460/460 [==============================] - 0s 610us/step - loss: 0.5260 - accuracy: 0.7533
Epoch 4/50
460/460 [==============================] - 0s 623us/step - loss: 0.5237 - accuracy: 0.7564
Epoch 5/50
460/460 [==============================] - 0s 605us/step - loss: 0.5218 - accuracy: 0.7551
Epoch 6/50
460/460 [==============================] - 0s 599us/step - loss: 0.5200 - accuracy: 0.7565
Epoch 7/50
460/460 [==============================] - 0s 606us/step - loss: 0.5203 - accuracy: 0.7571
Epoch 8/50
460/460 [==============================] - 0s 614us/step - loss: 0.5191 - accuracy: 0.7583
Epoch 9/50
460/460 [==============================] - 0s 627us/step - loss: 0.5175 - accuracy: 0.7583
Epoch 10/50
460/460 [==============================] - 0s 612us/step - loss: 0.5174 - accuracy: 0.7585
Epoch 11/50
460/460 [==============================] - 0s 606us/step - loss: 0.5170 - accuracy: 0.7586
Epoch 12/50
460/460 [==============================] - 0s 599us/step - loss: 0.5163 - accuracy: 0.7599
Epoch 13/50
460/460 [==============================] - 0s 603us/step - loss: 0.5154 - accuracy: 0.7588
Epoch 14/50
460/460 [==============================] - 0s 610us/step - loss: 0.5144 - accuracy: 0.7593
Epoch 15/50
460/460 [==============================] - 0s 597us/step - loss: 0.5147 - accuracy: 0.7610
Epoch 16/50
460/460 [==============================] - 0s 597us/step - loss: 0.5148 - accuracy: 0.7591
Epoch 17/50
460/460 [==============================] - 0s 604us/step - loss: 0.5129 - accuracy: 0.7594
Epoch 18/50
460/460 [==============================] - 0s 610us/step - loss: 0.5128 - accuracy: 0.7605
Epoch 19/50
460/460 [==============================] - 0s 606us/step - loss: 0.5130 - accuracy: 0.7610
Epoch 20/50
460/460 [==============================] - 0s 597us/step - loss: 0.5123 - accuracy: 0.7612
Epoch 21/50
460/460 [==============================] - 0s 597us/step - loss: 0.5115 - accuracy: 0.7601
Epoch 22/50
460/460 [==============================] - 0s 601us/step - loss: 0.5115 - accuracy: 0.7629
Epoch 23/50
460/460 [==============================] - 0s 597us/step - loss: 0.5114 - accuracy: 0.7625
Epoch 24/50
460/460 [==============================] - 0s 593us/step - loss: 0.5108 - accuracy: 0.7636
Epoch 25/50
460/460 [==============================] - 0s 601us/step - loss: 0.5106 - accuracy: 0.7619
Epoch 26/50
460/460 [==============================] - 0s 597us/step - loss: 0.5108 - accuracy: 0.7626
Epoch 27/50
460/460 [==============================] - 0s 597us/step - loss: 0.5103 - accuracy: 0.7629
Epoch 28/50
460/460 [==============================] - 0s 599us/step - loss: 0.5105 - accuracy: 0.7619
Epoch 29/50
460/460 [==============================] - 0s 606us/step - loss: 0.5090 - accuracy: 0.7627
Epoch 30/50
460/460 [==============================] - 0s 599us/step - loss: 0.5097 - accuracy: 0.7625
Epoch 31/50
460/460 [==============================] - 0s 597us/step - loss: 0.5092 - accuracy: 0.7630
Epoch 32/50
460/460 [==============================] - 0s 625us/step - loss: 0.5095 - accuracy: 0.7631
Epoch 33/50
460/460 [==============================] - 0s 630us/step - loss: 0.5091 - accuracy: 0.7640
Epoch 34/50
460/460 [==============================] - 0s 619us/step - loss: 0.5080 - accuracy: 0.7630
Epoch 35/50
460/460 [==============================] - 0s 623us/step - loss: 0.5088 - accuracy: 0.7625
Epoch 36/50
460/460 [==============================] - 0s 610us/step - loss: 0.5081 - accuracy: 0.7632
Epoch 37/50
460/460 [==============================] - 0s 599us/step - loss: 0.5082 - accuracy: 0.7629
Epoch 38/50
460/460 [==============================] - 0s 601us/step - loss: 0.5086 - accuracy: 0.7625
Epoch 39/50
460/460 [==============================] - 0s 597us/step - loss: 0.5080 - accuracy: 0.7635
Epoch 40/50
460/460 [==============================] - 0s 624us/step - loss: 0.5075 - accuracy: 0.7636
Epoch 41/50
460/460 [==============================] - 0s 617us/step - loss: 0.5073 - accuracy: 0.7643
Epoch 42/50
460/460 [==============================] - 0s 599us/step - loss: 0.5075 - accuracy: 0.7650
Epoch 43/50
460/460 [==============================] - 0s 599us/step - loss: 0.5073 - accuracy: 0.7646
Epoch 44/50
460/460 [==============================] - 0s 599us/step - loss: 0.5072 - accuracy: 0.7625
Epoch 45/50
460/460 [==============================] - 0s 599us/step - loss: 0.5063 - accuracy: 0.7632
Epoch 46/50
460/460 [==============================] - 0s 595us/step - loss: 0.5068 - accuracy: 0.7650
Epoch 47/50
460/460 [==============================] - 0s 603us/step - loss: 0.5065 - accuracy: 0.7633
Epoch 48/50
460/460 [==============================] - 0s 593us/step - loss: 0.5060 - accuracy: 0.7642
Epoch 49/50
460/460 [==============================] - 0s 595us/step - loss: 0.5064 - accuracy: 0.7644
Epoch 50/50
460/460 [==============================] - 0s 601us/step - loss: 0.5058 - accuracy: 0.7648

In [1323]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_alt2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

154/154 - 0s - loss: 0.5433 - accuracy: 0.7469
Loss: 0.5433231592178345, Accuracy: 0.7468922138214111

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [1324]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_Alt1.evaluate(X_test_scaled,y_test,verbose=2)
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
154/154 - 0s - loss: 0.5234 - accuracy: 0.7477
Loss: 0.5233700275421143, Accuracy: 0.7477073669433594

In [1325]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_alt2.evaluate(X_test_scaled,y_test,verbose=2)
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
154/154 - 0s - loss: 0.5433 - accuracy: 0.7469
Loss: 0.5433231592178345, Accuracy: 0.7468922138214111

### Step 3: Save each of your alternative models as an HDF5 file.

In [1326]:
# Set the file path for the first alternative model
# Set the model's file path
file_path = Path("../Resources/employee_attrition.h5")

# Export your model to a HDF5 file
nn_Alt1.save(file_path)

In [1327]:
# Set the file path for the second alternative model
file_path = Path("../Resources/employee_attrition.h5")

# Export your model to a HDF5 file
nn_alt2.save(file_path)